﻿@model CrystalReportsMVC.ViewModels.IndexVM
@{
    ViewBag.Title = "Principal";
}

<div> 
    <p>Esta es la página principal</p>
   @using(Html.BeginForm("GenerarReporte","Home",FormMethod.Post))
    {
        @Html.TextBoxFor(model => model.URL,new {@id="url",@style="width:70%;"});
       <button id="enviarUrl" type="submit" >Enviar</button>
    }
</div>

